#main
  :markdown
    Hello, my kids call me Ann.
    ---------------------------
    <img class="headshot" alt="Ann Suderman" src="./images/headshot.png" />
    ...and I love them to pieces! Honestly, I so enjoy what I do that it&rsquo;s not really fair to call it a &ldquo;job&rdquo;&ndash; it&rsquo;s a joy!  

    I love to *bake*, *do crafts*, *read* and *dance* with my little ones. My own children are grown so my attention is fully on your child. Of course, that means I&rsquo;ve been doing this a long time, but I have plenty of patience and tons of energy!

    Lots of hugs, laughs and play.
    ------------------------------
    I treat my daycare kids like I treated my own kids years ago. I try to make holidays special with parties and treats. I also like to have the families for a get-together every once in a while. The kids just love it when they get to have mom and dad see them at their second home with their friends. Parents enjoy it too!

    I&#x27;m reliable and do what ever I can to meet the needs of your family. Also, my hours are flexible as needed. I do keep my numbers small but having a great fit is important!

    Located in Sundance, Calgary SE
    -------------------------------
    Handy location near schools and the Sundance industial park.
    
    <div id="map">
      <iframe width="550" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=17+Sundown+Way+SE,+Calgary,+Division+No.+6,+Alberta,+Canada&amp;sll=37.0625,-95.677068&amp;sspn=18.613243,81.298828&amp;ie=UTF8&amp;cd=1&amp;geocode=FVioCAMdxrAz-Q&amp;split=0&amp;hq=&amp;hnear=17+Sundown+Way+SE,+Calgary,+Division+No.+6,+Alberta,+Canada&amp;ll=50.90693,-114.048729&amp;spn=0.002416,0.007789&amp;t=h&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
    
    <br>

#side
