#main
  :markdown    
    <h2 id="about">Hello, my kids call me Ann</h2>    
    <img class="headshot" width="332" height="407" alt="Ann Suderman" src="./images/headshot.png" />
    ...and I love them to pieces! Honestly, I so enjoy what I do that it&rsquo;s not really fair to call it a &ldquo;job&rdquo;&ndash; it&rsquo;s a joy!  

    I love to *bake*, *do crafts*, *read* and *dance* with my little ones. My own children are grown so my attention is fully on your child. Of course, that means I&rsquo;ve been doing this a long time, but I have plenty of patience and tons of energy!

    <h2 style="clear:both;">Lots of hugs, laughs and play.</h2>
    I treat my daycare kids like I treated my own kids years ago. I try to make holidays special with parties and treats. I also like to have the families for a get-together every once in a while. The kids just love it when they get to have mom and dad see them at their second home with their friends. Parents enjoy it too!

    I&#x27;m reliable and do what ever I can to meet the needs of your family. Also, my hours are flexible as needed. I do keep my numbers small but having a great fit is important!

    <h2 id="location">Located in Sundance, Calgary SE</h2>
    Handy location near schools and the Sundance industial park.

    <div id="map">
      <iframe width="540" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=17+Sundown+Way+SE,+Calgary,+Division+No.+6,+Alberta,+Canada&amp;sll=37.0625,-95.677068&amp;sspn=18.613243,81.298828&amp;ie=UTF8&amp;cd=1&amp;geocode=FVioCAMdxrAz-Q&amp;split=0&amp;hq=&amp;hnear=17+Sundown+Way+SE,+Calgary,+Division+No.+6,+Alberta,+Canada&amp;ll=50.90693,-114.048729&amp;spn=0.002416,0.007789&amp;t=h&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
    <br />

    <h2 id="availability">Spaces available this spring!</h2>
    I have one space opening up in May and two more in July. There is a baby boom going on around here!

    <h2 id="contact">Give me a call...</h2>
    Need a reference or two? No problem! Also, a few years back I did get a police check and had a refresher course on CPR. Oh, and my home is **SMOKE-FREE** and I give receipts. 

    <p class="note">
      Questions? Get in touch by emailing me at <strong><a href="mailto:&#x61;&#x6E;&#x6E;&#x40;&#x61;&#x6E;&#x6E;&#x73;&#x2E;&#x63;&#x61;">&#x61;&#x6E;&#x6E;&#x40;&#x61;&#x6E;&#x6E;&#x73;&#x2E;&#x63;&#x61;</a></strong> <br />
      or give me a call at <strong>(403) 256-4828</strong>.
    </p>

#side
  #testimonials
    .frame
    .carousel
      %ul.slides.randomize
        %li <span class="quote_open"></span>We&#x27;ve had nothing but positive experiences with Ann and her family.  So much love and attention goes into caring for all the children.  Great values, cheery environment and fun atmosphere.<span class="quote_close"></span>
        %li <br /><br /><br /><span class="quote_open"></span>My daughter loved going to Ann&#x27;s house!  Wish we could have taken them all with us when we moved!<span class="quote_close"></span>
        %li <span class="quote_open"></span>Having my son with Ann has been great.  I know that he is well cared for, having fun and being well fed.  Since both my husband and I work full-time, Ann&#x27;s flexible schedule has really made it easy for us to manage dropping off and picking up Jack.  We are lucky to have found her.<span class="quote_close"></span>
        %li <span class="quote_open"></span>My daughter was very clingy as she had only been around me &amp; my husband, yet Ann had immense patience with her, loved her, held her, comforted her &amp; nurtured her. Today, she is a second mother to my daughter &amp; it is a huge comfort for me.<span class="quote_close"></span>
        %li <span class="quote_open"></span>Ann is dedicated in her work &ndash; she considers each child as her own &amp; her job not as work. She spends time doing arts &amp; crafts with the kids, she bakes with them, she has Halloween dress up parties for the kids, get togethers once a year for the families &amp; kids.<span class="quote_close"></span>
        %li <br /><span class="quote_open"></span>Everyone tells me I lucked out in finding Ann, sometimes, I don&rsquo;t realize how lucky I am. Ann &amp; her family have become family to us, I am truly blessed to have found her!<span class="quote_close"></span>