body
  font: 14px/1.5em Georgia, serif
  background: #000

#site
  min-width: 950px
  overflow: hidden
  width: 100%

.section  
  position: relative
  width: 950px
  margin: 0 auto
  bbackground: yellow
  min-height: 50px
  
#header
  position: relative
  height: 315px
  z-index: 40
  background: url(../images/header.png) top center repeat-x transparent  
  
  #branding
    position: relative
    width: 660px
    height: 100%
    padding-top: 5px
  
    h1      
      display: block
      width: 660px
      height: 210px
      background: url(../images/logo.png) top left no-repeat transparent  
      span
        display: none
    p
      display: block
      position: relative
      text-align: right
      float: right
      width: 400px
      margin-top: -30px
      margin-right: 50px
      color: #3d3d53
      font-size: 24px
            
    #navigation
      position: relative
      float: right
      text-align: right
      margin-top: -205px
      margin-right: 50px
      font-family: Geneva, sans-serif
      a
        color: #3d3d53
        text-decoration: none

  #window
    position: absolute
    left: 704px
    top: 0px
    width: 404px
    height: 492px
    .frame
      position: absolute
      z-index: 40
      left: 0px
      top: 0px
      width: 404px
      height: 492px    
      background: transparent url(../images/window.png) top left no-repeat

    .outside
      position: absolute
      z-index: 30
      left: 20px
      top: 10px
      width: 360px
      height: 460px 
      background:
        color: #fff
        repeat: no-repeat
        position: top 60%
        attachment: fixed
        image: url(../images/backyard.jpg)
#content
  position: relative
  z-index: 30
  background: url(../images/wallpaper.jpg) bottom center repeat transparent
  margin-top: -10px
  
  .wrapper
    position: relative
    background: url(../images/wallpaper_bottom.jpg) bottom center repeat-x transparent
    padding: 35px 0 65px
    min-height: 300px
      
  #main
    position: relative
    z-index: 30
    background: url(../images/main.png) top left repeat-y #fff
    width: 550px
    padding: 40px
    min-height: 1000px
    
    h2
      color: #f80bb9
      font-size: 24px
      line-height: 2.4
      
    p
      font-size: 14px
      line-height: 2.4
      margin: 0 0 20px
      
    img.headshot
      position: relative
      z-index: 50
      float: right
      margin-top: -120px
      margin-right: -115px          
    
    #map
      width: 550px
      height: 350px
      overflow: hidden
      border: 5px solid #f80bb9
      
#footer
  position: relative
  height: 220px
  background: url(../images/footer.jpg) top center repeat-x transparent

  .toy
    position: absolute
    left: -185px
    top: -275px
    z-index: 50
    width: 360px
    height: 385px
    background: url(../images/toy.png) top left no-repeat transparent

  .ball
    position: absolute
    left: 510px
    top: -150px
    z-index: 50
    width: 250px
    height: 250px
    background: url(../images/ball.png) top left no-repeat transparent

  .mirror
    position: absolute
    z-index: 40
    width: 686px
    height: 1056px
    left: 555px
    top: -910px

  .frame
    position: absolute
    top: 0
    left: 0
    width: 686px
    height: 1056px
    z-index: 40
    background: url(../images/mirror.png) top left no-repeat transparent
    
  .mask
    position: absolute    
    left: 120px
    top: 162px
    width: 440px
    height: 748px
    z-index: 20
    background: url(../images/mirror_mask.png) top left no-repeat transparent
    
  .carousel
    position: absolute
    left: 120px
    top: 162px
    width: 440px
    height: 748px   
    z-index: 10 
    background-color: #fff
    li
      width: 440px
      height: 748px
    
