#site  
  width: 974px
  margin: 0 auto
  background: transparent
  overflow: hidden
  
#header
  position: relative
  height: 1%
  z-index: 30
  background: #fff
  padding: 15px 14px
  
  #branding
    float: left
    
  #global_navigation
    float: right
    
  #main_navigation
    clear: both
    background: url(../images/layout/main_navigation.gif) top left repeat-x
    height: 41px
    padding: 0 15px 

    .navigation
      float: left
      
    #search_site
      float: right

#content
  position: relative
  z-index: 20
  background: #fff
  padding: 0 14px
  height: 1%
  
  #masthead
    position: relative
    width: 945px
    height: 310px      
    overflow: hidden    
    clear: both  
    margin-bottom: 16px  
      
  #section_navigation
    width: 170px
    padding: 6px 20px 0 10px
    float: left
    margin-bottom: 50px
    h2
      margin: 3px 0 7px
  
  #main, #main_wide, #main_full
    width: 484px
    float: left 
    margin-bottom: 50px
    line-height: 1.5
    h1, h2
      color: #80a941

  #main
    width: 485px
    padding-right: 20px
    border-right: 1px solid #eee
    
  #main_wide
    width: 700px
    padding-right: 40px

  #main_full
    width: 945px
    
  #related
    float: right
    width: 235px
    padding-left: 5px
    margin-bottom: 30px
    h1
      margin: 0 0 10px 15px
    .section_callout
      float: right
      clear: both
      margin: 0 -10px 20px 0
  
  #section_callouts
    width: 480px
    margin-left: -2px    
    float: left
    _display: inline
    _width: 481px

    .section_callout
      float: left
      margin: 0 0 15px 0
  
  #news_callouts
    width: 443px
    padding-left: 25px
    float: left
    _display: inline
    background: url(../images/layout/news_callouts.gif) left top no-repeat
  
    #stock_quote
      background: #f6f5f3
      padding: 12px 8px
      margin: 0 0 8px -7px
      height: 1%
      .stock_feed
        width: 160px
        float: left
      .divider
        float: left
        clear: none
        width: 16px
        height: 20px
        background: url(/images/layout/stock_feed_divider.gif) no-repeat 0 4px
    

#footer
  margin-bottom: 50px

  #footer_callouts
    clear: both
    height: 1%
    padding-top: 1px
    margin-bottom: 16px
    background: url(../images/layout/footer_callouts.gif) top left repeat-x #f6f5f3  
    .footer_callout
      float: left
      width: 310px
    .footer_callout:first-child, .footer_callout_first
      width: 210px
      background-image: none

  #footer_links
    :padding 0 10px
    
  #footer_navigation
    float: right
    padding: 8px 3px
