#toy
#ball

#mirror
  .frame
  .mask
  .glare
  .carousel
    %ul.slides.randomize      
      %li=img 'slides/hug.jpg'
      %li=img 'slides/ashley.jpg'
      %li=img 'slides/snow.jpg'
      %li=img 'slides/house.jpg'
      %li=img 'slides/drink.jpg'
      %li=img 'slides/toys.jpg'
      %li=img 'slides/coats.jpg'
      %li=img 'slides/party.jpg'      
      %li=img 'slides/summer.jpg'
      %li=img 'slides/boys.jpg'
      %li=img 'slides/tv.jpg'
#credits
  :markdown
    &copy; 2010 lovingly built by her first-born <http://suderman.me>