#branding
  %h1
    %span Ann's Dayhome
  %p
    %span Twenty-one years of loving and <br /> caring for children in my own home.

  #navigation
    =link_to 'About Ann', '#about', :rel => 'about'
    %span &nbsp;|&nbsp;
    =link_to 'Location', '#location', :rel => 'location'
    %span &nbsp;|&nbsp;
    =link_to 'Availability', '#availability', :rel => 'availability'
    %span &nbsp;|&nbsp;
    =link_to 'Contact', '#contact', :rel => 'contact'

#window
  .frame
  .outside