#preload
  =img 'logo.png'
  =img 'header.png'
  =img 'main.png'
  =img 'wallpaper.jpg'
  =img 'headshot.png'
  =img 'window.png'
  =img 'outside.jpg'
  =img 'picture_frame.png'
  =img 'picture_back.png'
  =img 'quote_open.gif'
  =img 'quote_close.gif'
  =img 'footer.jpg'
  =img 'wallpaper_bottom.jpg'
  =img 'mirror_mask.png'
  =img 'mirror.png'
  =img 'glare.png'
  =img 'ball.png'
  =img 'toy.png'






