!!!
%html
  %head
    %title Ann's Dayhome - Sundance, Calgary SE
    %meta{'http-equiv' => 'imagetoolbar', 'content' => 'no'}
    %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=EmulateIE7'}
    = stylesheets :reset, :application
    = javascripts :'prototype.s2.min', :common, :carousel, :application
    /[if lte IE 6]
      = stylesheets :ie
      = javascripts :ie
      
  %body
    =partial 'preload_images'
    #site
      #header
        .section
          =partial 'header'

      #content
        .wrapper
          .section
            =yield
            .clear
      #footer
        .section
          =partial 'footer'

    =partial 'google_analytics'