!!!
%html
  %head
    %title Ann's Dayhome - Sundance, Calgary SE
    %meta{'http-equiv' => 'imagetoolbar', 'content' => 'no'}
    %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=EmulateIE7'}
    = stylesheets :reset, :application
    = javascripts :'prototype.s2.min', :common, :carousel, :application
  %body
    #site
      #header
        .section
          #branding
            %h1
              %span Ann's Dayhome
            %p
              %span Twenty-one years of loving and <br /> caring for children in my own home.
            #navigation
              =link_to 'About Ann', '#about', :rel => 'about'
              %span &nbsp;|&nbsp;
              =link_to 'Location', '#location', :rel => 'location'
              %span &nbsp;|&nbsp;
              =link_to 'Availability', '#availability', :rel => 'availability'
              %span &nbsp;|&nbsp;
              =link_to 'Contact', '#contact', :rel => 'contact'
          #window
            .frame
            .outside

      #content
        .wrapper
          .section
            =yield
            .clear
      #footer
        .section
          #toy
          #ball
        
          #mirror
            .frame
            .mask
            .glare
            .carousel
              %ul.slides.randomize
                %li=img 'slides/default.jpg'
                %li=img 'slides/hug.jpg'
                %li=img 'slides/party.jpg'
                %li=img 'slides/squeeze.jpg'
                %li=img 'slides/bucket.jpg'
          #credits
            :markdown
              &copy; 2010 | lovingly built by her first-born <http://suderman.me>
