!!!
%html
  %head
    %title Ann's Dayhome - Sundance, Calgary SE
    %meta{'http-equiv' => 'imagetoolbar', 'content' => 'no'}
    %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=EmulateIE7'}
    = stylesheets :reset, :layout
    = javascripts :'prototype.s2.min', :common, :carousel, :application
  %body
    #site
      #header
        .section
          #branding
            %h1
              %span Ann's Dayhome
            %p
              %span Twenty-one years of loving and <br /> caring for children in my own home.
            #navigation
              =link_to 'About Ann', '#'
              %span &nbsp;|&nbsp;
              =link_to 'Location', '#'
              %span &nbsp;|&nbsp;
              =link_to 'References', '#'
              %span &nbsp;|&nbsp;
              =link_to 'Contact', '#'
          #window
            .frame
            .outside

      #content
        .wrapper
          .section
            =yield
        .clear
      #footer
        .section
          .toy
          .ball
        
          .mirror
            .frame
            .mask
            .carousel
              %ul.slides
                %li=img 'slides/default.jpg'
                %li=img 'slides/hall.jpg'
                %li=img 'slides/lily.jpg'
