!!!
%html
  %head
    %title Ann's Dayhome - Sundance, Calgary Southeast
    %meta{'http-equiv' => 'imagetoolbar', 'content' => 'no'}
    %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=EmulateIE7'}
    = stylesheets :reset, :elements, :layout
    = javascripts :'prototype.s2.min', :common, :carousel, :application
  %body
    #site
      #header
      #content
        =yield
        .clear
      #footer